
.App {
  font-family: Arial, sans-serif;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
}


input {
  padding: 5px;
  margin-right: 10px;
}

button {
  padding: 5px 10px;
 
  color: aquamarine;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

li button {
  margin-left: 10px;
  color: aquamarine;
}